# Ignore node_modules directory
/src/client/node_modules/
/src/build/
/src/client/public

# Ignore log files
*.log

# Ignore environment variables file
.env

src/client/node_modules/.cache/default-development/
src/client/node_modules/electron/dist/Electron.app/Contents/Frameworks/Electron Framework.framework/Versions/A/

# Ignore build output
dist/

# Ignore IDE and editor files
.vscode/
.idea/
*.iml

# Ignore npm lock file
package-lock.json

# Ignore yarn lock file
yarn.lock
**/node_modules/